.MediaVideoContainer {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 80px;
  margin-top: 40px;
}

.halfVideo {
  width: 46%;
  margin-left: 2%;
  height: 300px;
}

@media screen and (max-width: 500px) {
  .MediaVideoContainer {
    flex-direction: column;
    margin-top: 20px;
  }
  .halfVideo {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
