@font-face {
  font-family: Open-Sans-Light;
  src: url("../../../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: Open-Sans-Light;
  src: url("../../../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: Open-Sans;
  src: url("../../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Open-Sans-Semibold;
  src: url("../../../assets/fonts/OpenSans-SemiBoldItalic.ttf");
}

.navbar-container {
  width: 100%;
  height: 6em;
  background-color: #162b5f;
  display: flex;
  flex-direction: row;
  /* position: fixed;
  top: 0; */
  z-index: 1000;
}

.navbar-container-fixed {
  width: 100%;
  height: 6em;
  background-color: #162b5f;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 2px;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
}

/* .navbar-container {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6em;
  text-align: center;
} */

/* .navbar-container .fixed {
  position: fixed;
  top: 0;
} */

.countdown-container {
  width: 18em;
  background-color: #19274a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-text {
  color: white;
  margin-top: 0px;
  font-size: 1em;
  text-transform: uppercase;
  font-family: Open-Sans-Light, sans-serif;
  margin-bottom: 5px;
}

.countdown-timer {
  font-family: Open-Sans-Bold, sans-serif;
  font-size: 1.6rem;
  color: white;
}

.link-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex: 1;
  padding-right: 4vw;
}

.active {
  border-bottom: 4px solid white !important;
}

.link-text,
.link-text-touch {
  color: white;
  font-size: 1.2rem;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 5px;
  font-family: Open-Sans, sans-serif;
}

.link-text:hover {
  cursor: pointer;
  border-bottom: 4px solid white;
}

.link-textA {
  cursor: pointer;
  border-bottom: 4px solid white;
}

.countdown-hide {
  display: none;
}

.mlogo {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.faSocial {
  padding: 15px;
  font-size: 25px;
  width: 27px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.faSocial:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  margin-right: 20px;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

#socialRow {
  width: 20px;
  position: fixed;
  top: 40%;
  z-index: 1000;
  right: 50px;
}

.hideSocial {
  display: none;
}

.showSocial {
  display: inline;
}

@media (max-width: 800px) {
  .countdown-container {
    display: none;
  }

  #socialRow {
    display: none;
  }

  .mlogo {
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .link-text,
  .link-text-touch {
    font-size: 0.8em;
  }

  .navbar-container-fixed {
    height: 4em;
  }

  .navbar-container {
    height: 4em;
  }
}

@media (max-width: 500px) {
  .mlogo {
    display: none;
  }
}
