@font-face {
  font-family: Open-Sans-Light;
  src: url("../../../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: Open-Sans;
  src: url("../../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Open-Sans-Semibold;
  src: url("../../../assets/fonts/OpenSans-SemiBoldItalic.ttf");
}

.article-box {
  background-color: #19274a;
  border-radius: 0px 0px 10px 10px;
  font-family: Open-Sans-Light, sans-serif;
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-box {
  border-radius: 10px 10px 0px 0px;
  background-color: #da3c33;
  height: 40px;
  font-weight: bold;
  font-family: Open-Sans-Semibold, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.updates-container {
  margin-left: 4rem;
  margin-right: 2rem;
  width: min(32rem, 90%);
  display: flex;
  flex-direction: column;
  color: white;
}

@media (max-width: 1200px) {
  .updates-container {
    /* margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px; */
    display: none;
  }
}

.live-article {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: center;
  padding: 10px;
  padding-left: 25px;
}

.live-article:hover {
  color: lightgray;
  cursor: pointer;
}

.text {
  margin: 5px;
  font-size: 0.8rem;
}

.text.timeago {
  font-size: 0.6rem;
}

.text.article-header {
  font-family: Open-Sans, sans-serif;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

#moreArticles {
  float: right;
  margin-right: 40px;
}

#moreArticles:hover {
  color: lightgray;
  cursor: pointer;
}
