@font-face {
  font-family: Open-Sans;
  src: url("../../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Lora;
  src: url("../../../assets/fonts/Lora-Regular.ttf");
}

html {
  font-family: Open-Sans, sans-serif !important;
}

.allArticles {
  width: 70%;
  margin-left: 15%;
}

#parentDivLarge {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.donateButton {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #162b5f;
  color: white;
  border: 2px solid #162b5f;
}

.donateButton:hover {
  background-color: black;
}

@media screen and (max-width: 650px) {
  .donationText {
    display: none;
  }

  .donateButton {
    margin-top: 30px;
  }

  .allArticles {
    width: 88%;
    margin-left: 6%;
  }
}
