.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #162b5f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .outer-container {
    flex-direction: column;
  }
}

.election-graphic {
  max-width: 90%;
  height: auto;
}

.inside-container {
  margin: auto;
  text-align: center;
}
