#sectionInteractives {
  width: 70%;
  margin-left: 15%;
  padding-left: 1.4%;
}

#intSectionTitle {
  font-size: 250% !important;
}

#locationOfViz {
  height: 450px;
  width: 30%;
  margin-left: 8%;
}

#locationOfViz2 {
  height: 450px;
  width: 60%;
  margin-left: 2%;
}

.candidatesContainer {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.halfCandidate {
  width: 46%;
  margin-left: 2%;
  margin-bottom: 10px;
}

.Collapsible {
  background-color: white;
}

.dataCentral {
  margin-top: 80px;
  color: white;
}

#vizBox {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

#voteStats {
  display: inline;
  color: black;
  text-align: center;
}

#numVotesCast,
#numVotesCastMail {
  color: white;
  background-color: gray;
}

.dataCentral span {
  background-color: #162b5f;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0;
}
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: gray;
  color: white;
}
.Collapsible__trigger:hover {
  color: white;
  background: rgb(95, 95, 95);
}
.Collapsible__trigger:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}

.candidateProPic {
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
}

.containerQuiz {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
}
.box1,
.box2,
.box3 {
  color: white;
  width: 28%;
  margin: 0 1%;
  padding: 100px 10px;
  text-align: center;
}

.box1 {
  background-color: #19274a;
}
.box2 {
  background-color: #162b5f;
}
.box3 {
  background-color: #19274a;
}

.box1:hover strong {
  display: none;
  transition: 0.2s;
}
.box1:hover {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: black;
  cursor: pointer;
}
.box1:hover:before {
  content: "?";
  font-size: 170px;
}

.box2:hover strong {
  display: none;
  transition: 0.2s;
}
.box2:hover {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: black;
  cursor: pointer;
}
.box2:hover:before {
  content: "?";
  font-size: 170px;
}

.box3:hover strong {
  display: none;
  transition: 0.2s;
}
.box3:hover {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: black;
  cursor: pointer;
}
.box3:hover:before {
  content: "?";
  font-size: 170px;
}

@media screen and (max-width: 1090px) {
  .containerQuiz {
    flex-direction: column;
  }

  .box1,
  .box2,
  .box3 {
    width: 100%;
    padding: 20px 5px;
  }
}

@media screen and (max-width: 1035px) {
  #vizBox {
    flex-direction: column;
  }

  #locationOfViz {
    width: 100%;
    margin-left: 0;
  }

  #locationOfViz2 {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .candidatesContainer {
    flex-direction: column;
  }

  .halfCandidate {
    width: 96%;
    margin-left: 2%;
  }

  #sectionInteractives {
    width: 90%;
    margin-left: 5%;
    padding-left: 1.4%;
  }

  #locationOfViz2 {
    display: none;
  }

  #graybox {
    width: 100%;
    margin-left: 0;
  }
}
