{# Template #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="The Rivalry Edition" />
    <meta
      property="og:description"
      content="For the third year, The Michigan Daily and The Ohio State Lantern are producing a joint publication with stories about our schools' historic football rivalry. We're launching this work alongside a competitive fundraiser to help us cover our operating costs. Whether you're a Wolverine or a Buckeye, please consider donating to support award-winning student journalism."
    />
    <meta
      property="og:image"
      content="{{ config.deployment }}/socialcard.png"
    />
    <meta property="og:url" content="{{ config.deployment }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="description"
      content="For the third year, The Michigan Daily and The Ohio State Lantern are producing a joint publication with stories about our schools' historic football rivalry. We're launching this work alongside a competitive fundraiser to help us cover our operating costs. Whether you're a Wolverine or a Buckeye, please consider donating to support award-winning student journalism."
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon-16x16.png"
    />
    <title>The Rivalry Edition</title>
    <link
      rel="stylesheet"
      href="css/base.scss"
      type="text/css"
      charset="utf-8"
    />
    <script src="js/index.js" charset="utf-8" type="module"></script>
    {% if env == "production" %} {% if config.ga_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{ config.ga_id }}"
    ></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{ config.ga_id }}");
    </script>
    {% endif %} {% endif %}
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
